#include <{{ conversion_header }}>

{% for conversion in conversions %}
{{ conversion.ros2 }} convert(const {{ conversion.proto }} & message)
{
    {{ conversion.ros2 }} ros2_message;
    {% for builtin_type in conversion.members.builtin_types %}
    ros2_message.{{builtin_type}} = message.{{builtin_type}}();
    {% endfor %}

    {% for user_type in conversion.members.user_types %}
    ros2_message.{{user_type}} = convert(message.{{user_type}}());
    {% endfor %}

    return ros2_message;
}

{{ conversion.proto }} convert(const {{ conversion.ros2 }} & message)
{
    {{ conversion.proto }} proto_message;
    {% for builtin_type in conversion.members.builtin_types %}
    proto_message.set_{{builtin_type}}(message.{{builtin_type}});
    {% endfor %}

    {% for user_type in conversion.members.user_types %}
    *proto_message.mutable_{{user_type}}() = convert(message.{{user_type}});
    {% endfor %}
    return proto_message;
}
{% endfor %}
