#include <{{ conversion_header }}>

namespace {{ conversion_namespace }} {

{% for conversion in conversions %}
{{ conversion.ros2 }} convert(const {{ conversion.proto }} & message)
{
    {{ conversion.ros2 }} ros2_message;
    {% for builtin_type in conversion.members.builtin_types %}
    ros2_message.{{builtin_type}} = message.{{builtin_type}}();
    {% endfor %}

    {% for user_type in conversion.members.user_types %}
    ros2_message.{{user_type}} = convert(message.{{user_type}}());
    {% endfor %}

    {% for array_type in conversion.members.array_types %}
    for (const auto & data : message.{{array_type}}()) {
        ros2_message.{{array_type}}.push_back(convert(data));
    }
    {% endfor %}

    return ros2_message;
}

void convert_impl(const {{ conversion.ros2 }} & message, {{ conversion.proto }} & proto_message)
{
    {% for builtin_type in conversion.members.builtin_types %}
    proto_message.set_{{builtin_type}}(message.{{builtin_type}});
    {% endfor %}

    {% for user_type in conversion.members.user_types %}
    *proto_message.mutable_{{user_type}}() = convert(message.{{user_type}});
    {% endfor %}

    {% for array_type in conversion.members.array_types %}
    for (const auto & data : message.{{array_type}}) {
        *proto_message.add_{{array_type}}() = convert(data);
    }
    {% endfor %}
}
{% endfor %}

} // namespace {{ conversion_namespace }}

