#ifndef {{ include_guard }}
#define {{ include_guard }}

#include <{{ ros2_header }}>
#include <{{ proto_header }}>

{{ ros2_message }} convert(const {{ proto_message }} & message)
{
}

#endif // {{ include_guard }}
