#ifndef {{ include_guard }}
#define {{ include_guard }}

#include <{{ ros2_header }}>
#include <{{ proto_header }}>

{% for conversion in conversions %}
{{ conversion.ros2 }} convert(const {{ conversion.proto }} & message);
{% endfor %}

#endif // {{ include_guard }}
